@media (max-width : 830px){
    .container{

    }
    
    .content{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 80vh;
        gap: 10px 10px;
    }
    
    .exp1{
        margin: 10px 10px 10px 35px;
    }

    .section{
        font-size: 50px;
        font-weight: 500;
        margin-left: 25px;
        font-family: var(--font-ral);
        color: var(--color-third);  
    }

    .img1{
        width: 100px;
        height: 100px;
        background-color:var(--color-third);
        border-radius: 50px;    
    }
}


@media (min-width : 831px) {

    .content{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap:20px 10px;
        height: 50vh;

    }
    
    .exp1{
        background-size: 0% 100%;
        text-align: center  ;
        background-repeat: no-repeat;
        -webkit-backdrop-filter: blur();
        transition: .4s;
    }

    .section{
        text-align: center;
        font-size: 50px;
        font-weight: 500;
        font-family: var(--font-ral);
        color: var(--color-third);
    }

    .img1{
        width: 100px;
        height: 100px;
        background-color:var(--color-third);
        border-radius: 50px;    
    }

    .bar{
        position: relative;
        width: 30%;
        height: 1px;
        border: none;
        background-color: var(--color-secondary);
        margin: 0 auto;
        margin-bottom: 3%;

    }
    


}


.title{
    font-size: 20px;
    font-weight:500;
    font-family: var(--font-rowdies);
    color: var(--color-secondary);
    padding-bottom: 7px;
}
.container{
    background-color: var(--color-text);
}

.text{
    color: var(--color-primary);
}